<aside>
    <h2>Liste des aeroports</h2>
    <table>
        <thead>
            <tr>
                <td>Nom</td>
                <td>Nombre de piste</td>
            </tr>
        </thead>
        <tr *ngFor= "let v of aeroports">
            <td> {{ v.nom }} </td>
            <td> {{ v.nbPiste }} </td>
            <td><button (click)="selectAeroport(v.nom)">Modifier</button></td>
        </tr>
    </table>
</aside>
<section>
    <div class="alligned-h3">
        <h3 [ngClass]="isEditing ? 'd-none' : ''">Ajouter un</h3><h3 [ngClass]="isEditing ? '' : 'd-none'">Modifier l'</h3><h3> Aeroport</h3>
    </div>
    <form (submit)="updateAeroport()" #f="ngForm">
        <input name="nom" [disabled]="isEditing" [(ngModel)]="aeroportf.nom">
        <input name="nbPiste" [(ngModel)]="aeroportf.nbPiste">
        <button type="submit">Modifier</button>
        <button (click)="resetAeroport()">Reset</button>
    </form>
</section>