<aside style="justify-content: space-evenly;">
    <a href routerLink="/intranet" title="Retour à l'Accueil de l'Intranet">Attribution</a>
    <a href routerLink="/intranet/avions" title="Nos avions">Avions</a>
    <a href routerLink="/intranet/personnel" title="Notre personnel">Personnels</a>
    <a href routerLink="/intranet/aeroport" title="Aeroport">Aeroport</a>
    <a href routerLink="/intranet/profile" title="Profile">Profile</a>
</aside>
<section>
    <router-outlet></router-outlet>
</section>