<aside>
    <h2>Liste des avions</h2>
    <table>
        <thead>
            <tr>
                <td>Code</td>
                <td>Modèle d'avion</td>
                <td>Autonomie de l'avion</td>
                <td>Capacite de l'avion</td>
            </tr>
        </thead>
        <tr *ngFor= "let v of avions">
            <td> {{ v.code }} </td>
            <td> {{ v.modele }} </td>
            <td> {{ v.autonomie }} </td>
            <td> {{ v.capacite }} </td>
            <td><button (click)="selectAvion(v.code)">Modifier</button></td>
        </tr>
    </table>
</aside>
<section>
    <div class="alligned-h3">
        <h3 [ngClass]="isEditing ? 'd-none' : ''">Ajouter un</h3><h3 [ngClass]="isEditing ? '' : 'd-none'">Modifier l'</h3><h3> Avion</h3>
    </div>
    <form (submit)="updateAvion()" #f="ngForm">
        <input name="code" [disabled]="isEditing" [(ngModel)]="avionf.code">
        <input name="modele" [(ngModel)]="avionf.modele">
        <input name="capacite" [(ngModel)]="avionf.capacite">
        <input name="autonomie" [(ngModel)]="avionf.autonomie">

        <button type="submit">Modifier</button>
        <button (click)="resetAvion()">Reset</button>
    </form>
</section>