/* You can add global styles to this file, and also import other style files */
body {
    background-color: aliceblue;
}

header {
    background-color: aliceblue;
    position: fixed;
    box-shadow: 10px turquoise;
    display:inline-block;
    height: 50px;
    width: 100%;
}

.header-btn {
    border: solid 1px turquoise;
    width: 50%;
    align-content: center;
}